<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Neural Upload</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/css/Drag--Drop-Upload-Form.css">
    <link rel="stylesheet" href="../static/assets/css/Drag-and-Drop-File-Input.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#" style="font-family: Montserrat, sans-serif;">Neural upload</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link active" href="#about" style="font-family: Montserrat, sans-serif;">About</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#contact" style="font-family: Montserrat, sans-serif;">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background: url(&quot;../static/assets/img/moonshine-960797_1920.jpg&quot;) bottom;">
        <div class="intro-body" style="height: 823px;margin-top: 0px;margin-bottom: 0px;margin-left: 0px;">
            <div class="container" style="margin-bottom: 59px;margin-top: -11px;">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading" style="font-family: Montserrat, sans-serif;">Neural upload</h1>
                        <p class="intro-text" style="font-family: Montserrat, sans-serif;font-size: 32px;">Identify your images trough our neural network</p>
                        <form method="post" enctype="multipart/form-data">
                            <input type="file" name="file">
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center content-section" id="about" style="font-family: Montserrat, sans-serif;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>About NEURAL UPLOAD</h2>
                    <p>Neural Upload is a open source project to identify images trough a neural network. The project is based on Python.&nbsp;</p>
                    <p>The Neural network is trained to identify:</p>
                    <ul>
                        <li>Cars</li>
                        <li>Dogs</li>
                        <li>Cats</li>
                        <li>Frogs</li>
                        <li>Airplanes</li>
                        <li>Horses</li>
                        <li>Ships</li>
                        <li>Deers</li>
                        <li>Birds</li>
                        <li>Trucks</li>
                    </ul>
                    <p>I have plans to increase the categories and subjects in the future.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center content-section" id="contact" style="padding-top: 0px;">
        <div class="container">
            <div class="row" style="font-family: Montserrat, sans-serif;">
                <div class="col-lg-8 mx-auto">
                    <h2>Contact ME</h2>
                    <p>Feel free to contact me on Github.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">&nbsp;<a class="btn btn-primary btn-lg btn-default" role="button" href="https://github.com/1ncendium/"><i class="fa fa-github fa-fw"></i><span class="network-name">&nbsp;github</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-6 my-auto h-100 text-center text-lg-start">
                    <p class="text-muted small mb-4 mb-lg-0">© Incendium 2021. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 my-auto h-100 text-center text-lg-end">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="https://github.com/1ncendium/"><i class="fa fa-github fa-2x fa-fw" style="color: rgb(255,255,255);"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="../static/assets/js/grayscale.js"></script>
    <script src="../static/assets/js/Drag-and-Drop-File-Input.js"></script>
</body>

</html>